.squad{
    text-align: center;
    padding: 32px;
    position: relative;
}

.squad h3{
    font-size: 32px;
    display: inline-block;
    padding-bottom: 8px;
}

.squad .members{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}
.squad .color-input{
    position: absolute;
    top: 28px;
    right: 58px;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
}